body {
    font-family: 'asd';
}

@font-face {
    font-family: 'asd';
    src: url('https://firebasestorage.googleapis.com/v0/b/nemo-mega.appspot.com/o/texts%2Fasd-1629189889396.ttf?alt=media&token=8b7cc6c4-5c24-4e01-9db9-f7a7ba6a04e0');
}

.normal {
    font-family: Georgia, sans-serif;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -1px;
    background: darkslateblue;
    padding: 0.6em 0;
    color: white;
    margin: 0;
}